body{
  background-color: #b99999;
}

#game{
  display: none;
}

.gameboard{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 400px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 2px;
}

.grid {
  background-color: #ddd;
  border: 1px solid #333;
  height: 30px;
  aspect-ratio: 1/1;
}

.ship {
  background-color: #5c5656;
}

.hit {
  background-color: #7a2020;
}

.miss{
  background-color: #1d1010;
}

#remove-placement-btn.active{
  background-color: aqua;
}